<% if method == :post %>
<% action_url, submit_value = users_url, "Create!" %>
<% else %>
<% action_url, submit_value = user_url(user.id), "Edit!" %>
<% end %>

<form action="<%= action_url %>" method="post">
	<input type="hidden" name="_method" value="<%= method %>">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<label for="user_name">Name</label>
	<input type="text" id="user_name" name="user[name]" value="<%= @user.name%>">
	<br>

	<label for="user_username">Username</label>
	<input type="text" id="user_username" name="user[username]" value="<%= @user.username %>">
	<br>

	<label for="user_password">Password</label>
	<input type="password" id="user_password" name="user[password]">
	<br>

	<input type="submit" value="<%= submit_value %>">

</form>